@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,600;1,400&display=swap');

:root {
    --cor-primaria: #000000; 
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
   
   
    --fonte-principal: 'Krona one', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

/* uso de variáveis como no java
declaração no root */

/*   rem é a estilização de tamanho de fonte que é relativa ao navegador... 16px = 1rem  */

* {
    margin:0;
    padding:0;  
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 17%;
    
}

.cabecalho__menu {
    display: flex;
    gap: 40px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.cabecalho__menu__link:hover {
    font-size: 1.56rem;
    color: #5F9EA0;
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao {
    
    padding: 7.3% 22%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
    
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-principal);
}

.apresentacao__conteudo__paragrafo {
    font-size: 1.37rem;
    font-family: var(--fonte-secundaria);
    
}

.apresentacao__imagem {
    width: 50%; 
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__botao {
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 70%;
    text-align: center;
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

.apresentacao__links__botao:hover {

    background-color: #272727;
    width: 385px;
    
}

.rodape {
    display: flex;
    justify-content: center;
    padding: 24px;
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 0.94rem;
}

@media (max-width: 1200px) {
    .apresentacao {
        flex-direction: column-reverse;
    }
}



/* display flex agrupa, fontes precisam ser atualizadas, usar gap para separar,*/
/* ctrl + k + c = comentário */